<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis</title>
</head>
<body>
    <div>
        <p>This is <mark>data analysis</mark> platform</p>
        <p>This is data analysis platform</p>
        <p>This is data analysis platform</p>
        <del>300</del>
        <ins>250</ins>
    </div>
    <div>
        <p>H<sub>2</sub>O</p>
        <p><abbr title="data analysis">dt</abbr></p>
        <h1>h1</h1>
        <h6>h6</h6>
        <pre>
            Hello
                                   Django
                    Machine Learning
        </pre>

    </div>
    <p>Welcome to <span style="color: blue;">StudyMart</span></p>
</body>
</html>
