<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="">
        {% for field in form %}
        {{field.label_tag}} <br>
        {% endfor %}

        {{form.first_name.label_tag}} <br>
        {{form.last_name.label_tag}} <br>
        {{form.email.label_tag}} <br> <br>

        {{form.as_p}} <br> <br>
        <input type="button" value="Submit">
    </form>
</body>
</html>